body {
  background-color: #e6fffd;
  background-image: url("images/Portfolio-Background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  padding: 2%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 8%;
  width: 100%;
  border: 1px solid black;
  background-color: #e6fffd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s;
}

nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}

nav ul li {
  text-decoration: none;
  text-align: center;
  padding: 2px;
}

nav img {
  width: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  margin-top: 10%;
  align-items: center;
}

span {
  margin: 2%;
}

h2 {
  text-align: center;
}

.certpic {
  width: 80%;
}
.certpicdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 8%;
  width: 100%;
  border: 1px solid black;
  background-color: #e6fffd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: bottom 0.3s;
}

footer div {
  margin: 2%;
}

a:visited {
  color: inherit;
}

.title {
  font-weight: bold;
  margin: 2%;
  padding: 2%;
  text-align: center;
  font-size: 18px;
}

.circular-image {
  border-radius: 50%;
  margin: 10px;
}

/* 
The following is not DRY at all but each page needed a slightly different 
layout so I'm going to stick with this current set up
*/

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  background-color: #e6fffd;
  border-radius: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  background-color: #e6fffd;
  border-radius: 30px;
}

.education {
  display: flex;
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  background-color: #e6fffd;
  border-radius: 30px;
}

.projects {
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  background-color: #e6fffd;
  border-radius: 30px;
}

.blog {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  background-color: #e6fffd;
  border-radius: 30px;
}

.logo {
  width: 100px;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #007bff;
  border: 3px solid #007bff;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  color: black;
  
}

.button-link:hover {
  background-color: #0056b3;
  border-color: #0e0f0f;
}

@media (min-width: 500px) {
  .navbar.hidden {
    top: -100px; /* Move navbar out of viewport */
  }

  .footer.hidden {
    bottom: -100px;
  }
}

@media (max-width: 500px) {
  .navbar {
    position: relative;
    width: 100%;
    display: inline-table;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #e6fffd;
    border-radius: 10px;
    align-items: center;
  }

  nav img {
    display: none;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  nav ul li {
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
  }

  nav ul li:nth-last-child(-n + 2) {
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
  }

  .footer {
    position: relative;
    display: flex;
    width: 100%;
    border: 1px solid black;
    background-color: #e6fffd;
    border-radius: 10px;
  }

  .footer div {
    align-items: center;
  }
}
